<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    #overlappedID {background-color: GhostWhite; width: 15%; height: 40px;}
    .olmessagef {color: red; font-style: Italic;}
    .olmessaget {color: blue; font-style: Italic;}
  </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form role="form" action="/members/join" th:object="${memberForm}" method="post">
    <div>
      <label th:for="id">id</label>
    <input type="text" th:field="*{id}" placeholder="id를 입력하세요">
      <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></p>
    </div>
      <div>
      <label th:for="password">password</label>
      <input type="password" th:field="*{password}">
      </div>
      <div>
      <label th:for="email">e-mail</label>
      <input type="email" th:field="*{email}">
      </div>
      <div>
      <label th:for="nickname">nickname</label>
      <input type="text" th:field="*{nickname}">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>
</html>

