<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>main</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 600px;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="py-5 text-center">
    <h2>Index page</h2>
  </div>
  <div class="row">
    <div class="col" th:if="${session.authInfo != null}">
      <a th:text="${session.authInfo.id}"
         th:href="@{/members/{id} (id=${session.authInfo.id})}"></a>
      <span>님, 환영합니다.</span>
    </div>
    <div class="col" th:if="${session.authInfo != null}">
      <a th:href="@{{id}/items/list (id=${session.authInfo.id})}"> 내 상품 목록</a>
    </div>
  </div>

  <div class="row">
    <div class="col" th:if="${session.authInfo == null}">
      <button class="w-100 btn btn-warning btn-lg"
              onclick="location.href='/members/join'"> 회원가입
      </button>
    </div>
    <div class="col" th:if="${session.authInfo == null}">
      <button class="w-100 btn btn-success btn-lg"
              onclick="location.href='/members/login'"> 로그인
      </button>
    </div>
    <div class="col" th:if="${session.authInfo != null}">
      <button class="w-100 btn btn-success btn-lg"
              onclick="location.href='/members/logout'"> 로그아웃
      </button>
    </div>
    <div class="col" th:if="${session.authInfo != null}">
      <button class="w-100 btn btn-warning btn-lg"
              onclick="location.href='/items/additem'"> 상품등록
      </button>
    </div>
  </div>
</div>
</body>
</html>